* {
  box-sizing: border-box;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.input {
  margin-bottom: 16px;
  padding: 0 14px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

.continue-with {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  min-width: 300px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}

.body {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 500px;
  background-color: #ffffff;
  border-bottom: 10px solid #46a358;
}

.form-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 52px;
}

.login-link {
  font-size: 20px;
  font-weight: 500;
  color: initial;
}

.register-link {
  font-size: 20px;
  font-weight: 500;
  color: #46a358;
}

.register-form {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 300px;
}

.input-fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.input-fieldset legend {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 14px;
  color: #3d3d3d;
}

.input-fieldset :nth-child(5) {
  margin-bottom: 41px;
}

.submit-register-btn {
  border-radius: 5px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #46a358;
}

.register-with-fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-with-fieldset legend {
  text-align: center;
  margin-bottom: 27px;
  font-size: 13px;
  font-weight: 400;
  color: #3d3d3d;
}
